.inspaural {
  height: 90vh;
  width: 90vh;
  border: 2px solid lightblue;
  shape-outside: content-box;
  text-align: center;
}

.inspaural, .outer-display, .inner-display, .quotes-container  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outer-display {
  height: 95%;
  width: 95%;
  /* border: 2px solid pink; */
  shape-outside: content-box;
}

.inner-display {
  height: 50%;
  width: 50%;
  /* border: 2px solid orange; */
  shape-outside: content-box;
  background-color: lightblue;
}
