.quotes-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.quote {
  height: 18vh;
  width: 18vh;
  /* border: 1px dashed black; */
  filter: grayscale(0.8) opacity(0.5);
  object-fit: cover;
}

.quote:hover {
  filter: opacity(0.9);
}

img[id^="blank"]{
  border: none;
}
