.quotes-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.quote {
  height: 18vh;
  width: 18vh;
  /* margin: 1em; */
  border: 1px dashed black;
  /* float: left; */
}

div[id^="blank"]{
  border: none;
}
